/* *{
    background: black;
    color: #fff;
} */
/* button{
    background-color: blue;
    /* color: aliceblue; */
 
/* styles.css */

.pass {
    color: green;
}

.fail {
    color: red;
}